In [173]:
import pandas as pd
import numpy as np

In [174]:
from numpy.random import randn
np.random.seed(200)

In [175]:
#1)creating a DataFrame
df = pd.DataFrame(randn(6,4), index = "A B C D E F".split(), columns = " G H I K".split())
df

          G         H         I         K
A -1.450948  1.910953  0.711879 -0.247738
B  0.361466 -0.032950 -0.221347  0.477257
C -0.691939  0.792006  0.073249  1.303286
D  0.213481  1.017349  1.911712 -0.529672
E  1.842135 -1.057235 -0.862916  0.237631
F -1.154182  1.214984 -1.293759  0.822723

In [176]:
#2)using loc function to get the location on the row
df.loc["A"]

G   -1.450948
H    1.910953
I    0.711879
K   -0.247738
Name: A, dtype: float64

In [177]:
#3)using iloc function to get the location 
df.iloc[2]

G   -0.691939
H    0.792006
I    0.073249
K    1.303286
Name: C, dtype: float64

In [178]:
#4)To add a new column to the dataframe
df["j"]= df["G"] + df["H"]
df

          G         H         I         K         j
A -1.450948  1.910953  0.711879 -0.247738  0.460005
B  0.361466 -0.032950 -0.221347  0.477257  0.328517
C -0.691939  0.792006  0.073249  1.303286  0.100067
D  0.213481  1.017349  1.911712 -0.529672  1.230830
E  1.842135 -1.057235 -0.862916  0.237631  0.784900
F -1.154182  1.214984 -1.293759  0.822723  0.060802

In [179]:
#5)Checking for missing values using the isnull()
print(df.isnull())

       G      H      I      K      j
A  False  False  False  False  False
B  False  False  False  False  False
C  False  False  False  False  False
D  False  False  False  False  False
E  False  False  False  False  False
F  False  False  False  False  False

In [180]:
#6)Replace negative values with 0
df[df < 0] = 0
print(df)

          G         H         I         K         j
A  0.000000  1.910953  0.711879  0.000000  0.460005
B  0.361466  0.000000  0.000000  0.477257  0.328517
C  0.000000  0.792006  0.073249  1.303286  0.100067
D  0.213481  1.017349  1.911712  0.000000  1.230830
E  1.842135  0.000000  0.000000  0.237631  0.784900
F  0.000000  1.214984  0.000000  0.822723  0.060802

In [181]:
#7)using the shape function to get shape of the dataframe indicating that it is 6 by 5 matrix
df.shape

(6, 5)

In [182]:
#8)using the describe() funcction to get the discriptive statistics of the dataframe 
df.describe()

              G         H         I         K         j
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.402847  0.822549  0.449473  0.473483  0.494187
std    0.720552  0.739010  0.768716  0.512748  0.446973
min    0.000000  0.000000  0.000000  0.000000  0.060802
25%    0.000000  0.198001  0.000000  0.059408  0.157179
50%    0.106741  0.904677  0.036625  0.357444  0.394261
75%    0.324470  1.165575  0.552222  0.736356  0.703676
max    1.842135  1.910953  1.911712  1.303286  1.230830

In [183]:
#9)using the dtypes function to get the datatypes for each columns 
df.dtypes

G    float64
H    float64
I    float64
K    float64
j    float64
dtype: object

In [184]:
#10)using the mean() function to get the mean for each columns
df.mean()

G    0.402847
H    0.822549
I    0.449473
K    0.473483
j    0.494187
dtype: float64

In [185]:
#11)Getting the column labels of the DataFrame
df.columns

Index(['G', 'H', 'I', 'K', 'j'], dtype='object')

In [186]:
#12)Getting the row labels of the DataFrame
df.index

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [187]:
#13)Display a concise summary of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, A to F
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   G       6 non-null      float64
 1   H       6 non-null      float64
 2   I       6 non-null      float64
 3   K       6 non-null      float64
 4   j       6 non-null      float64
dtypes: float64(5)
memory usage: 460.0+ bytes
None

In [188]:
#14)Using the max function to get the maximum value in each column
df.max()

G    1.842135
H    1.910953
I    1.911712
K    1.303286
j    1.230830
dtype: float64

In [189]:
#15)Using the max function to get the maximum value in each column
df.min()

G    0.000000
H    0.000000
I    0.000000
K    0.000000
j    0.060802
dtype: float64

In [190]:
df

          G         H         I         K         j
A  0.000000  1.910953  0.711879  0.000000  0.460005
B  0.361466  0.000000  0.000000  0.477257  0.328517
C  0.000000  0.792006  0.073249  1.303286  0.100067
D  0.213481  1.017349  1.911712  0.000000  1.230830
E  1.842135  0.000000  0.000000  0.237631  0.784900
F  0.000000  1.214984  0.000000  0.822723  0.060802

In [191]:
#16)Using the sum function to get the sum of each column
df.sum()

G    2.417083
H    4.935292
I    2.696840
K    2.840897
j    2.965121
dtype: float64

In [193]:
#17)Create a new column 'G_binary' with 1 if 'G' is positive, 0 otherwise
df['G_binary'] = (df['G'] > 0).astype(int)
#print the result
print(df)

          G         H         I         K         j  G_binary
A  0.000000  1.910953  0.711879  0.000000  0.460005         0
B  0.361466  0.000000  0.000000  0.477257  0.328517         1
C  0.000000  0.792006  0.073249  1.303286  0.100067         0
D  0.213481  1.017349  1.911712  0.000000  1.230830         1
E  1.842135  0.000000  0.000000  0.237631  0.784900         1
F  0.000000  1.214984  0.000000  0.822723  0.060802         0

In [194]:
#18)Using the duplicate function to check for the duplicated rows
df.duplicated()

A    False
B    False
C    False
D    False
E    False
F    False
dtype: bool

In [195]:
#19)Using the drop_duplicates to Drop duplicated rows
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

          G         H         I         K         j  G_binary
A  0.000000  1.910953  0.711879  0.000000  0.460005         0
B  0.361466  0.000000  0.000000  0.477257  0.328517         1
C  0.000000  0.792006  0.073249  1.303286  0.100067         0
D  0.213481  1.017349  1.911712  0.000000  1.230830         1
E  1.842135  0.000000  0.000000  0.237631  0.784900         1
F  0.000000  1.214984  0.000000  0.822723  0.060802         0

In [196]:
df

          G         H         I         K         j  G_binary
A  0.000000  1.910953  0.711879  0.000000  0.460005         0
B  0.361466  0.000000  0.000000  0.477257  0.328517         1
C  0.000000  0.792006  0.073249  1.303286  0.100067         0
D  0.213481  1.017349  1.911712  0.000000  1.230830         1
E  1.842135  0.000000  0.000000  0.237631  0.784900         1
F  0.000000  1.214984  0.000000  0.822723  0.060802         0

In [197]:
#20) Apply a function to each element in column 'G' and create a new column 'G_squared'
df['G_squared'] = df['G'].apply(lambda x: x**2)
#print the result
print(df)

          G         H         I         K         j  G_binary  G_squared
A  0.000000  1.910953  0.711879  0.000000  0.460005         0   0.000000
B  0.361466  0.000000  0.000000  0.477257  0.328517         1   0.130658
C  0.000000  0.792006  0.073249  1.303286  0.100067         0   0.000000
D  0.213481  1.017349  1.911712  0.000000  1.230830         1   0.045574
E  1.842135  0.000000  0.000000  0.237631  0.784900         1   3.393462
F  0.000000  1.214984  0.000000  0.822723  0.060802         0   0.000000

In [198]:
#21)Check if any element in the DataFrame is NaN
print(df.isnull().any().any())

False

In [199]:
#22)Using the tail() function to Select the last 2 rows of the DataFrame
df_last_2_rows = df.tail(2)
print(df_last_2_rows)

          G         H    I         K         j  G_binary  G_squared
E  1.842135  0.000000  0.0  0.237631  0.784900         1   3.393462
F  0.000000  1.214984  0.0  0.822723  0.060802         0   0.000000

In [200]:
#23 Using the head() function to get the first 3 rows of the DataFrame
df.head(3)

          G         H         I         K         j  G_binary  G_squared
A  0.000000  1.910953  0.711879  0.000000  0.460005         0   0.000000
B  0.361466  0.000000  0.000000  0.477257  0.328517         1   0.130658
C  0.000000  0.792006  0.073249  1.303286  0.100067         0   0.000000

In [201]:
#24)Using the cumsum function() to Cumulatively apply a custom function to each element in column 'H'
df['H_cumsum'] = df['H'].cumsum()
#print the result
print(df)

          G         H         I         K         j  G_binary  G_squared  \
A  0.000000  1.910953  0.711879  0.000000  0.460005         0   0.000000
B  0.361466  0.000000  0.000000  0.477257  0.328517         1   0.130658
C  0.000000  0.792006  0.073249  1.303286  0.100067         0   0.000000
D  0.213481  1.017349  1.911712  0.000000  1.230830         1   0.045574
E  1.842135  0.000000  0.000000  0.237631  0.784900         1   3.393462
F  0.000000  1.214984  0.000000  0.822723  0.060802         0   0.000000

   H_cumsum
A  1.910953
B  1.910953
C  2.702959
D  3.720308
E  3.720308
F  4.935292

In [202]:
#25)Using the filter method to Select columns with column names containing 'J'
df_columns_J = df.filter(like='J')
print(df_columns_J)

Empty DataFrame
Columns: []
Index: [A, B, C, D, E, F]

In [203]:
#26)Using the Shift function() to Create a new column 'G_shifted' with the values of 'G' shifted by 1 position
df['G_shifted'] = df['G'].shift(1)
print(df)

          G         H         I         K         j  G_binary  G_squared  \
A  0.000000  1.910953  0.711879  0.000000  0.460005         0   0.000000
B  0.361466  0.000000  0.000000  0.477257  0.328517         1   0.130658
C  0.000000  0.792006  0.073249  1.303286  0.100067         0   0.000000
D  0.213481  1.017349  1.911712  0.000000  1.230830         1   0.045574
E  1.842135  0.000000  0.000000  0.237631  0.784900         1   3.393462
F  0.000000  1.214984  0.000000  0.822723  0.060802         0   0.000000

   H_cumsum  G_shifted
A  1.910953        NaN
B  1.910953   0.000000
C  2.702959   0.361466
D  3.720308   0.000000
E  3.720308   0.213481
F  4.935292   1.842135

In [204]:
#27)Using the round function to each element in column 'I' and round to the nearest integer
df['I_rounded'] = df['I'].round()
#print the result
print(df)

          G         H         I         K         j  G_binary  G_squared  \
A  0.000000  1.910953  0.711879  0.000000  0.460005         0   0.000000
B  0.361466  0.000000  0.000000  0.477257  0.328517         1   0.130658
C  0.000000  0.792006  0.073249  1.303286  0.100067         0   0.000000
D  0.213481  1.017349  1.911712  0.000000  1.230830         1   0.045574
E  1.842135  0.000000  0.000000  0.237631  0.784900         1   3.393462
F  0.000000  1.214984  0.000000  0.822723  0.060802         0   0.000000

   H_cumsum  G_shifted  I_rounded
A  1.910953        NaN        1.0
B  1.910953   0.000000        0.0
C  2.702959   0.361466        0.0
D  3.720308   0.000000        2.0
E  3.720308   0.213481        0.0
F  4.935292   1.842135        0.0

In [205]:
#28)Using the nunique() function to Count the number of unique values in each column
df_nunique = df.nunique()
#print the result
print(df_nunique)

G            4
H            5
I            4
K            5
j            6
G_binary     2
G_squared    4
H_cumsum     4
G_shifted    4
I_rounded    3
dtype: int64

In [206]:
df

,G,H,I,K,j,G_binary,G_squared,H_cumsum,G_shifted,I_rounded
A,0.000000,1.910953,0.711879,0.000000,0.460005,0,0.000000,1.910953,NaN,1.0
B,0.361466,0.000000,0.000000,0.477257,0.328517,1,0.130658,1.910953,0.000000,0.0
C,0.000000,0.792006,0.073249,1.303286,0.100067,0,0.000000,2.702959,0.361466,0.0
D,0.213481,1.017349,1.911712,0.000000,1.230830,1,0.045574,3.720308,0.000000,2.0
E,1.842135,0.000000,0.000000,0.237631,0.784900,1,3.393462,3.720308,0.213481,0.0
F,0.000000,1.214984,0.000000,0.822723,0.060802,0,0.000000,4.935292,1.842135,0.0

In [207]:
#29)Apply a custom function to each column and concatenate the result as a new row
df_custom_function_row = pd.concat([df.apply(lambda col: col.sum()), df], axis=0)
print(df_custom_function_row)

                   0         G         H         I         K         j  \
G           2.417083       NaN       NaN       NaN       NaN       NaN
H           4.935292       NaN       NaN       NaN       NaN       NaN
I           2.696840       NaN       NaN       NaN       NaN       NaN
K           2.840897       NaN       NaN       NaN       NaN       NaN
j           2.965121       NaN       NaN       NaN       NaN       NaN
G_binary    3.000000       NaN       NaN       NaN       NaN       NaN
G_squared   3.569694       NaN       NaN       NaN       NaN       NaN
H_cumsum   18.900773       NaN       NaN       NaN       NaN       NaN
G_shifted   2.417083       NaN       NaN       NaN       NaN       NaN
I_rounded   3.000000       NaN       NaN       NaN       NaN       NaN
A                NaN  0.000000  1.910953  0.711879  0.000000  0.460005
B                NaN  0.361466  0.000000  0.000000  0.477257  0.328517
C                NaN  0.000000  0.792006  0.073249  1.303286  0.100067
D                NaN  0.213481  1.017349  1.911712  0.000000  1.230830
E                NaN  1.842135  0.000000  0.000000  0.237631  0.784900
F                NaN  0.000000  1.214984  0.000000  0.822723  0.060802

           G_binary  G_squared  H_cumsum  G_shifted  I_rounded
G               NaN        NaN       NaN        NaN        NaN
H               NaN        NaN       NaN        NaN        NaN
I               NaN        NaN       NaN        NaN        NaN
K               NaN        NaN       NaN        NaN        NaN
j               NaN        NaN       NaN        NaN        NaN
G_binary        NaN        NaN       NaN        NaN        NaN
G_squared       NaN        NaN       NaN        NaN        NaN
H_cumsum        NaN        NaN       NaN        NaN        NaN
G_shifted       NaN        NaN       NaN        NaN        NaN
I_rounded       NaN        NaN       NaN        NaN        NaN
A               0.0   0.000000  1.910953        NaN        1.0
B               1.0   0.130658  1.910953   0.000000        0.0
C               0.0   0.000000  2.702959   0.361466        0.0
D               1.0   0.045574  3.720308   0.000000        2.0
E               1.0   3.393462  3.720308   0.213481        0.0
F               0.0   0.000000  4.935292   1.842135        0.0

In [208]:
#30)Check if any element in the DataFrame is equal to 0
any_equal_to_zero = any(df.eq(0).any())
#print the result
print(any_equal_to_zero)

True